@tailwind base;
@tailwind components;
@tailwind utilities;

<<<<<<< HEAD
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
=======
>>>>>>> 65166b03879d5f45590055f3cc275e9451be2413
@font-face {
  font-family: "burtons";
  src: url("../public/Burtons.otf");
}
